

.btn {min-width: 200px !important;}
.btn-outline-primary { color: #007bff; background-color: transparent; background-image: none; border-color: #007bff; }
.btn-outline-primary:hover { color: #fff !important; background-color: #007bff; border-color: #007bff; }
.btn-outline-primary:focus, .btn-outline-primary.focus { color: #007bff; box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
.btn-outline-primary.disabled, .btn-outline-primary:disabled { color: #007bff; background-color: transparent; }
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle { color: #fff; background-color: #007bff; border-color: #007bff; }
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-outline-success {color: rgb(255, 255, 255);background-color: transparent;background-image: none;border-color: #28a745;}
.btn-outline-success:hover { color: #fff !important; background-color: #28a745; border-color: #28a745; }
.btn-outline-success:focus, .btn-outline-primary.focus { color: #28a745; box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
.btn-outline-success.disabled, .btn-outline-primary:disabled { color: #28a745; background-color: transparent; }
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle { color: #fff; background-color: #28a745; border-color: #28a745; }
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }

.btn-outline-white { color: #ffffff; background-color: transparent; background-image: none; border-color: #ffffff; }
.btn-outline-white:hover { color: #000000 !important; background-color: #ffffff; border-color: #ffffff; }
.btn-outline-white:focus, .btn-outline-white.focus { color: #ffffff; box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }
.btn-outline-white.disabled, .btn-outline-white:disabled { color: #ffffff; background-color: transparent; }
.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled).active,
.show > .btn-outline-white.dropdown-toggle { color: #fff; background-color: #ffffff; border-color: #ffffff; }
.btn-outline-white:not(:disabled):not(.disabled):active:focus,
.btn-outline-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-white.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }

.card-section-title { /*padding-bottom: 2vh !important;*/ }
.subtitle { color: #5a5a5a !important;/* padding-bottom: 2vh !important;*/; /*padding-top: 4.5vh*/ }
.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }

.toggle-handle { background-color: #fff; }

.row-card-section {align-items: center;display: flex;}

.welcome-subtitle { color: #5a5a5a; }


/* Media query */
