{% extends "core/base_admin.html" %}
{% load i18n humanize staticfiles admin_list %}

{% block head_style %}
    {{ block.super }}
    <style>
        body { font-size: 15px }

        .nav-pills>li>a { color: green; font-weight: normal }

        .field-city, .field-country { display: none }

        @media (min-width: 768px) {
            .navbar-default .navbar-brand { padding: 25px 15px 20px 0; }
            #admin-nav .wrapper { padding-top: 0 }
        }
    </style>
{% endblock %}

{% block page_title %}
<title> {{ verbose_name_plural|capfirst }} - {{ service.project_name }} </title>
{% endblock %}

{% block breadcrumb_location %}
{% endblock %}

<div id="top-notice-ctnr" style="display: none">
    <span class="floating-notice has-shade" style="float: none; position: static"> </span>
</div>
{% block header %}
    {% url "ikwen:account_setup" as account_setup_url %}
    <div id="navbar" class="navbar navbar-default navbar-static-top">
        <div class="container-fluid help-navbar hidden-xs" style="display: block">
            <span class="lang-switcher hidden-xs">{% include 'econnect/snippets/language_switcher.html' %}</span>
            <span class="help-navbar-phone">{% trans "Need some help? " %}{{ config.contact_phone }}&nbsp;<i class="fab fa-whatsapp" style="color: #28a745; font-size: large"></i></span>
            {% comment %}<div class="navbar-right" style="margin-right: 0">
                {% if user.is_authenticated %}
                    {% if user.is_ghost %}
                        <div id="user-menu">
                            <a class="icon" href="{% url "ikwen:logout" %}?next={% url 'ikwen:register' %}">
                                <i class="fas fa-user-slash" style="font-size: 22px"></i>
                            </a>
                        </div>
                    {% else %}
                        <div id="user-menu" class="dropdown">
                            <a class="icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="{% if user.is_staff %}fas fa-user-cog{% else %}fas fa-user{% endif %}"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                <li style="padding: 3px 20px"> {{ user.full_name }} </li>
                                <li role="separator" class="divider" style="margin-bottom: 0; width: 100%"></li>
                                <li>
                                    <a href="{% url 'uncompleted_order' %}">My Creolink</a>
                                </li>
                                <li>
                                    <a href="{{ account_setup_url }}">{% trans "Account setup" %}</a>
                                </li>
                                {% if user.is_staff %}
                                    <li>
                                        <a href="{% url 'admin' %}">Admin</a>
                                    </li>
                                {% endif %}
                                <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
                            </ul>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="hidden-xs">
                        <a href="{% url 'ikwen:sign_in' %}" class=" menu btn btn-xs btn-success animated fadeIn">{% trans "Login" %}</a>
                    </div>
                {% endif %}
            </div>{% endcomment %}
        </div>
        <div class="container-fluid" style="padding-left: 30px">
            <div class="navbar-header">
                <div class="container-fluid">
                    <i class="glyphicon glyphicon-menu-left back"></i>
                    <div class="menu-button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    {% block header_brand %}
                        <a class="navbar-brand navbar-brand-screen img-default hidden-xs" href="{% url 'econnect:home' %}">
                            <img src="{% static "econnect/img/creolink_logo.png" %}">
                        </a>
                        <a href="{% url 'econnect:home' %}"><strong class="navbar-brand visible-xs">{{ config.company_name|upper }}</strong></a>
                    {% endblock %}
                    {% block site_menu_xs %}
                        {% comment %}<nav class="visible-xs pull-right">
                            <ul id="nav-xs" class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                    {% if user.is_ghost %}
                                        <li id="user-menu">
                                            <a class="icon" href="{% url "ikwen:logout" %}?next={% url 'ikwen:register' %}">
                                                <i class="fas fa-user-slash" style="font-size: 22px"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li id="user-menu" class="dropdown">
                                            <a class="icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="{% if user.is_staff %}fas fa-user-cog{% else %}fas fa-user{% endif %}"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                                <li style="padding: 3px 20px"> {{ user.full_name }} </li>
                                                <li role="separator" class="divider" style="margin-bottom: 0; width: 100%"></li>
                                                <li>
                                                    <a href="{% url 'uncompleted_order' %}">My Creolink</a>
                                                </li>
                                                <li>
                                                    <a href="{{ account_setup_url }}">{% trans "Account setup" %}</a>
                                                </li>
                                                {% if user.is_staff %}
                                                    <li>
                                                        <a href="{% url 'admin' %}">Admin</a>
                                                    </li>
                                                {% endif %}
                                                <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="hidden-xs">
                                        <a href="{% url 'ikwen:sign_in' %}" class="btn btn-outline-success menu animated fadeIn" style="border-radius: 2px; border-width: 1px; display:block; height: 4.5vh!important; line-height: 4.5vh; padding: 0; width: 120px">{% trans "Login" %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>{% endcomment %}
                    {% endblock %}
                </div>
            </div>
            {% block site_menu %}
                <div id="site-menu" class="collapse navbar-collapse">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right" style="margin: 0 -15px 0 0">
                        {% block product_menu %}
                            <li class="dropdown page-menu NUMERILINK">
                                <div class="dropbtn nav-menu nav-menu-img animated fadeIn" data-toggle="dropdown"><img class="nav-menu-img" src="{% static 'econnect/img/numerilink.png' %}"></div>
                                <div class="dropdown-content ">
                                    <a href="{% url 'econnect:numerilink-home' %}" class="animated fadeIn">{% trans 'NumeriLink Home' %}</a>
                                    <a href="{% url 'econnect:numerilink-hotel' %}" class="animated fadeIn">{% trans 'NumeriLink Hotel' %}</a>
                                </div>
                            </li>
                            <li class="page-menu HOMELINK"><a href="{% url 'econnect:homelink-pricing' %}" class="nav-menu nav-menu-img animated fadeIn"><img class="nav-menu-img" src="{% static 'econnect/img/homelink.png' %}"></a></li>
                            <li class="page-menu OFFICELINK"><a href="{% url 'econnect:officelink-pricing' %}" class="nav-menu nav-menu-img animated fadeIn"><img class="nav-menu-img" src="{% static 'econnect/img/officelink.png' %}"></a></li>
                            <li class="page-menu CORPORATELINK"><a href="{% url 'econnect:corporatelink-pricing' %}" class="nav-menu nav-menu-img animated fadeIn"><img class="nav-menu-img" src="{% static 'econnect/img/corporatelink.png' %}"></a></li>
{#                                        <li><a href="{% url 'blog:home' %}" class="nav-menu nav-menu-custom">{% trans "Blog" %}</a></li>#}
                        {% endblock %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block admin_content %}
    <div id="admin-nav" class="edge-panel-left">
        <div class="wrapper">
            <div class="stage">
                <div class="menu">
                    <div class="divider"></div>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="configuration">
                            <a href="{% url 'uncompleted_order' %}">My Creolink</a>
                        </li>
                        <li role="presentation" class="service-info">
                            <a href="{% url 'change_profile' %}"><b>{% trans "Profile" %}</b></a>
                        </li>
                        {% if code_client %}
                        <li role="presentation" class="configuration">
                            <a href="{% url 'site_list' %}">{% trans "Services" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div id="admin-content">
        <div class="container-fluid">
            <div id="stage" style="float: none; margin: auto">
            {% with member=request.user %}
                {% url 'ikwen:profile' member.id as member_profile_url %}
                <div>
                    <div class="text-center">
                        <div class="welcome-title">
                            {% if member.photo.name %}
                                <img class="img-circle img-thumbnail" src="{{ settings.IKWEN_MEDIA_URL }}{{ member.photo.small_name }}" style="margin-top: 1vh;width:100px;height:100px">
                            {% else %}
                                <img class="img-circle img-thumbnail" src="{% static 'ikwen/img/login-avatar.jpg' %}" style="margin-top: 1vh;">
                            {% endif %}
                            {% if member.is_ghost %}
                                <h4>{{ member.email }}</h4>
                            {% else %}
                                <h4>{{ member.full_name }}</h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endwith %}
                <form id="client-profile" class="col-sm-8 col-sm-offset-2" method="post">{% csrf_token %}
                    <input type="hidden" name="keep_editing" value="yes" />
                    <input type="hidden" name="previous_code" value="{{ obj.code }}"/>
                    <input type="hidden" name="country_code" id="country-code" value="{{ obj.country.iso2 }}" />
                    {% if form.errors %}
                        <div class="errorlist">{{ form.errors }}</div>
                    {% endif %}
                    <div class="subscription-details">
                        {% include 'core/snippets/model_admin_form.html' %}
                        <div class="form-row field-city-autocomplete form-group ">
                            <label for="city-autocomplete"> {% trans "City" %}</label>
                            <input type="search" id="city-autocomplete" autocomplete="off" value="{{ obj.city }}" class="form-control input-sm"/>
                        </div>
                        <div style="padding-top: 30px; margin-bottom: 10px">
                            <div class="col-xs-12 col-sm-8 col-md-4">
                                <button type="button" class="btn btn-sm btn-block btn-success save-profile">
                                    {% include 'core/snippets/button_spinner.html' %}
                                    <span>{% trans "Save" %}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.2"></script>
    <script type="text/javascript">
        (() => {
            $('div#admin-nav .{{ verbose_name_plural|slugify }}').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row input#id_code').attr('autocomplete', 'off');
            $('.form-row textarea').addClass('form-control input-sm');
            $('.field-city-autocomplete').insertAfter('.field-code');

            let citiesAutocomplete = places({
                appId: 'plBKK74BG493',
                apiKey: '095d658e01d6a84bf640894fd105116b',
                type: 'city',
                container: document.querySelector('#city-autocomplete')
            });
            citiesAutocomplete.on('change', (e) => {
                $('#country-code').val(e.suggestion.countryCode);
                $('#id_city').attr('value', e.suggestion.name)
            });

            $('.save-profile:not(.processing)').click(checkInput);
            $('#client-profile').keydown((e) => {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    checkInput();
                }
            });

            function checkInput() {
                let _$btn = $('.save-profile'),
                    validInput = true,
                    code = $('#id_code').val(),
                    city = $('#city-autocomplete').val();
                $('.form-group').removeClass('has-error');
                if (!code) {
                    $('#id_code').parents('.form-group').addClass('has-error');
                    validInput = false
                }
                if (!city) {
                    $('#city-autocomplete').parents('.form-group').addClass('has-error');
                    validInput = false
                }
                if (!validInput) return false;
                _$btn.addClass('processing');
                $.getJSON('', {action: 'check_code_and_pull_invoice', 'code': code}, (resp) => {
                    _$btn.removeClass('processing');
                    if (resp.error) {
                        $('#id_code').parents('.form-group').addClass('has-error')
                    } else {
                        $('#client-profile').submit()
                    }
                });
            }
        })()
    </script>
{% endblock %}
