{% extends 'base.html' %}
{% load i18n static auth_tokens %}

{% block page_title %}
    <title>{{ config.company_name }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'econnect/css/homepage.css' %}">
    <style>
        div#email-error {display: none}
    </style>
{% endblock %}

{% block content %}
    <div id="section-header-general-view" class="container-fluid section-header" style="padding-top: 6vh;">
        <img class="img-responsive" alt="logo_ikwen_TSUNAMI" src="{% static 'econnect/img/background_decodeur_crop.png' %}"/>
    </div>
    <div id="banniere-top" class="container-fluid" style="font-family: Lato,Helvetica,Arial,sans-serif;">
        <div class="row section-banniere-top" style="margin-top: 0;">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 text-center">
              <h1 class="visible-lg">{% trans 'The best of internet, the best of TV' %}</h1>
              <h2 class="hidden-lg">{% trans 'The best of internet, the best of TV' %}</h2>
                {% if request.user.is_authenticated %}
                    <a  href='{% url 'econnect:maps' %}?next={{ request.path }}' class="btn btn-outline-success btn-set-location animated pulse mobile-adjust" style="margin-top: 20px; min-width: 200px"><i class="fas fa-map-marker-alt location-set" style="font-size:large;"></i><strong style="font-size:large; padding-left: .5vw;"></strong></a>
                {% else %}
                     <button type="button" class="btn btn-outline-success btn-set-location animated pulse mobile-adjust" data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; min-width: 200px"><i class="fas fa-map-marker-alt location-set" style="font-size:large;"></i><strong style="font-size:large;"></strong></button>
                {% endif %}
            </div>
        </div>
    </div>
    <section>
        <h2 class="title-section visible-lg text-center">{% trans "Everyone can create link with us" %}</h2>
        <h3 class="title-section hidden-lg text-center">{% trans "Everyone can create link with us" %}</h3>
        <br>
        <div class="container text-center visible-lg" style="padding-left: 5vw;">
        {% for product in product_list %}
            {% if forloop.first %}
            <div class="col-lg-6 col-md-offset-3 f_container" >
                <div class="f_card shadow">
                  <div class="front face" style="cursor: default">
                      <img class="img-responsive mobile-adjust" style="width: 500px; height: 500px" src="{% get_media_prefix  %}{{ product.logo.name }}"/>
                      <div class="front-ribbon v-align">
                          <h3 class="ribbon-label">NumeriLink</h3>
                      </div>
                  </div>
                  <div class="back face center" style="cursor: default  ">
{#                      <h3 class="product-title">{{ product.name }}</h3>#}
                    <img class="product-logo-img" src="{% static 'econnect/img/numerilink.png' %}">
                      <div class="product-description">
                        <div class="col-md-6">
{#                            <h4>{{ product.name }}</h4>#}
                            <a href="{% url 'econnect:numerilink-home' %}"><img class="img-responsive" src="{% static 'econnect/img/numerilink_home.png' %}"></a>
                            {% blocktrans with product_url=product.url product_description=product.description product_cta=product.cta_label %}
                              <p style="text-align: left">{{ product_description }}</p>
                              <p><a class="product-link" href="{{product_url}}">{{ product_cta }}</a></p>
                            {% endblocktrans %}
                        </div>
                        <div class="col-md-6">
{#                            <h4>{{ product_numeri_hotel.name }}</h4>#}
                            <a href="{% url 'econnect:numerilink-hotel' %}"><img class="img-responsive" src="{% static 'econnect/img/numerilink_hotel.png' %}"></a>
                            {% blocktrans with product_url=product_numeri_hotel.url product_description=product_numeri_hotel.description product_cta=product_numeri_hotel.cta_label %}
                              <p style="text-align: left">{{ product_description }}</p>
                              <p><a class="product-link" href="{{product_url}}">{{ product_cta }}</a></p>
                            {% endblocktrans %}
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            {% else %}
            <div class="col-lg-6 col-md-offset-3 f_container" style="" >
                <div class="f_card shadow">
                  <div class="front face">
                      <img class="img-responsive mobile-adjust" style="width: 500px; height: 500px" src="{% get_media_prefix  %}{{ product.logo.name }}"/>
                      <div class="front-ribbon v-align">
                          <h3 class="ribbon-label">{{ product.name }}</h3>
                      </div>
                  </div>
                  <div class="back face back-face center">
{#                      <h3 class="product-title">{{ product.name }}</h3>#}
                    <img class="product-logo-img" src="{% get_static_prefix  %}econnect/img/{{ product.name|slugify }}.png">
{#                      {% url product.slug as product_url  %}#}
                      <div class="product-description">
                      {% blocktrans with product_url=product.url product_description=product.description product_cta=product.cta_label %}
                          <p class="mobile-adjust">{{ product_description }}</p>
                          <p class="mobile-adjust"><a class="product-link" href="{{product_url}}">{{ product_cta }}</a></p>
                      {% endblocktrans %}
                      </div>
                  </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="container hidden-lg">
            <div class="card card-default green">
                <div class="card-header text-center">
                    <h2>{{ product_numeri_hotel.name }}</h2>
                </div>
                <div class="card-body card-5-7 v-align">
                    <div class="card-left">
                        <img src="{% get_media_prefix  %}{{ product_numeri_hotel.logo.name }}" class="img-responsive">
                    </div>
                {% blocktrans with product_url=product_numeri_hotel.url product_description=product_numeri_hotel.description product_cta=product_numeri_hotel.cta_label %}
                    <div class="card-right v-align-center">
                        <p class="mobile-adjust">{{ product_description }}</p>
                    </div>
                    <div class="pull-right">
                        <a  href='{{product_url}}' class="btn btn-outline-success animated pulse mobile-adjust" style="margin: 2vh 0 3vh 0; height: 45px; min-width: 200px">{{ product_cta }}</a>
                    </div>
                </div>


                {% endblocktrans %}
            </div>
            {% for product in product_list %}
            <div class="card card-default green">
                <div class="card-header text-center">
                    <h2>{{ product.name }}</h2>
                </div>
                <div class="card-body card-5-7 v-align">
                    <div class="card-left">
                        <img src="{% get_media_prefix  %}{{ product.logo.name }}" class="img-responsive">
                    </div>
                {% blocktrans with product_url=product.url product_description=product.description product_cta=product.cta_label %}
                    <div class="card-right v-align-center">
                        <p >{{ product_description }}</p>
                    </div>
                    <div class="pull-right">
                        <a  href='{{product_url}}' class="btn btn-outline-success animated pulse mobile-adjust" style="margin: 2vh 0 3vh 0; height: 45px; min-width: 200px">{{ product_cta }}</a>
                    </div>
                </div>

                {% endblocktrans %}
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="section-faq">
        <div class="container">
            <div class="title">
                <h2 class="mobile-adjust">FAQ</h2>
            </div>
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="col-md-6 panel panel-custom" style="cursor: pointer;">
                    <div class="panel-title faq-title text-center" role="tab" id="headingOne"  data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                        <h5 class="mb-0">
                        <a class="faq-question" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
                          {% trans "Question 1 ?" %}
                        </a>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="faq-answer" style="cursor: default">
                            {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam." %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 panel panel-custom" style="cursor: pointer;">
                    <div class="panel-title faq-title text-center" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                        <h5 class="mb-0">
                        <a class="collapsed faq-question" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          {% trans "Question 2 ?" %}
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="faq-answer" style="cursor: default">
                            {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam." %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 panel panel-custom" style="cursor: pointer;">
                    <div class="panel-title faq-title text-center" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                        <h5 class="mb-0">
                        <a class="collapsed faq-question" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          {% trans "Question 3 ?" %}
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="faq-answer" style="cursor: default">
                            {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam." %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 panel panel-custom" style="cursor: pointer;">
                    <div class="panel-title faq-title text-center" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                        <h5 class="mb-0">
                        <a class="collapsed faq-question" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          {% trans "Question 4 ?" %}
                        </a>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="faq-answer" style="cursor: default">
                            {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam." %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <a class="js-scrollTo back-to-top hiding" href="#section-header-general-view" style="text-decoration: none; color: #3F3F3F">
        <i class="fa fa-chevron-circle-up"></i>
    </a>

    {% include 'econnect/snippets/get_email_modal.html' %}

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'econnect/js/dropdown3D.js' %}"></script>
    <script>
        (function () {
            // redirect to Tsunami signIn page
            $('#site-menu a.btn.menu').attr('href', "{% url 'ikwen:sign_in' %}?next={% url 'econnect:home' %}");

            // set focus when modal is opened
            $('#modal-get-email').on('shown.bs.modal', function () {
                $("#visitor-email").focus();
            });

            $('#visitor-email').focusin(function () {
                $('div#email-error').fadeOut().hide()
            });

            // get the email for Tsunami relaunch mails
            $('.btn-process').click(function () {
                var visitor_email = $('#visitor-email').val();
                if (visitor_email !== ''){
                    $('#get-user-email').submit()
                }else {
                    $('div#email-error').fadeIn().show()
                }
            });

            $('.back-face').click(function () {
                {#window.location = $(this).find("a:first").attr("href");#}
                window.open($(this).find("a:first").attr("href"));
                return false;
            });
        })()
    </script>
{% endblock %}