{% extends 'base.html' %}
{% load i18n static humanize %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "tsunami/img/favicon_Tsunami.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/tsunami/" />
    <meta property="og:image" content="{% static 'tsunami/img/Logo-IKWEN-Tsunami_og.png' %}" />
    <meta property="og:title" content="{% trans "CREOLINK Communications" %}"/>
    <meta property="og:description" content="{% trans "The best of internet, the best of TV" %}">
    <meta property="description" content="{% trans "The best of internet, the best of TV" %}" />
{% endblock %}

{% block page_title %}
    <title> Creolink - Office | Link</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'econnect/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tsunami/css/tsunami_homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'econnect/css/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'econnect/css/econnect_pricing.css' %}">
    <style>
        div#email-error {display: none}
    </style>
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static "tsunami/img/logo_ikwen_web_header.png" %}"/>
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block content %}

    <div id="section-header-general-view" class="container-fluid">
        <div class="row section-banniere-top" style="margin-top: 0 !important;">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 7vh">
              <h1>{% trans "Get the best of Internet and TV" %}</h1>
                {% if request.user.is_authenticated %}
                    <a  href='{% url 'econnect:maps' %}?next={{ request.path }}' class="btn btn-outline white btn-set-location animated pulse mobile-adjust" style="margin-top: 20px; height: 45px; min-width: 200px"><i class="fas fa-map-marker-alt location-set" style=" font-size:larger; word-spacing: -8px;">&nbsp;&nbsp;{% trans "Set my location" %}</i></a>
                {% else %}
                     <button type="button" class="btn btn-outline white btn-set-location animated pulse mobile-adjust" data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px; min-width: 200px"><i class="fas fa-map-marker-alt location-set" style=" font-size:larger; word-spacing: -8px;">&nbsp;&nbsp;{% trans "Set my location" %}</i></button>
                {% endif %}
            </div>
        </div>
        <div id="section-banniere-top-iPad-view" class="row section-banniere-top" style="display: none">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1>{% trans "Get the best of Internet and TV" %}</h1>
                {% if request.user.is_authenticated %}
                    <a  href="{% url 'econnect:maps' %}?next={{ request.path }}" class="btn btn-outline white btn-set-location animated pulse mobile-adjust" style="margin-top: 20px; height: 45px; min-width: 200px"><i class="fas fa-map-marker-alt location-set" style=" font-size:larger; word-spacing: -8px;">&nbsp;&nbsp;{% trans "Set my location" %}</i></a>
                {% else %}
                     <button type="button" class="btn btn-outline white btn-set-location animated pulse mobile-adjust" data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px; min-width: 200px"><i class="fas fa-map-marker-alt location-set" style=" font-size:larger; word-spacing: -8px;">&nbsp;&nbsp;{% trans "Set my location" %}</i></button>
                {% endif %}

            </div>
        </div>
    </div>

    <section class="pricing-area">

        <nav class="col-md-2 pricing-menu hidden-xs">
            <ul style="list-style-type: none">
                <li><a class="js-scrollTo in-page-nav-link {{ product.name }} in-page-nav-link-tv is-active"href="#sectionPack"> {% trans "Pack" %}</a></li>
                <li><a class="js-scrollTo in-page-nav-link {{ product.name }} in-page-nav-link-equipment" href="#sectionEquipment"> {% trans "Equipement" %}</a></li>
                <li><a class="js-scrollTo in-page-nav-link {{ product.name }} in-page-nav-link-faq" href="#sectionFaq"> {% trans "FAQs" %}</a></li>
            </ul>
        </nav>

        <div class="col-md-2 pricing-menu scroll-menu {{ product.name }} visible-xs">
            <a class="js-scrollTo in-page-nav-link {{ product.name }} in-page-nav-link-tv is-active"href="#sectionPack"> {% trans "Pack" %}</a>
            <a class="js-scrollTo in-page-nav-link {{ product.name }} in-page-nav-link-equipment" href="#sectionEquipment"> {% trans "Equipement" %}</a>
            <a class="js-scrollTo in-page-nav-link {{ product.name }} in-page-nav-link-faq" href="#sectionFaq"> {% trans "FAQs" %}</a>
            <a class="js-scrollTo in-page-nav-link {{ product.name }} in-page-nav-link-invoice" href="#invoice"> {% trans "Invoice" %}</a>
        </div>

        <div class="col-md-8 pricing-items" style="">

            <section id="sectionPack" class="pricing-section" style="margin-top: 0">
                <h3 class="col-md-8 section-title">{% trans "Pack" %}<label class="cost {{ product.name }} bouquet-cost">{% trans "Choose one below" %}</label></h3>
                <div class="clearfix"></div>
                <hr class="section-border-top">
                {% for package in product.package_set.all %}
                    <div class="col-md-4{% if forloop.counter == 4 %} col-md-offset-2{% endif %}">
                        <div class="panel panel-custom panel-custom-styling {{ product.name }}">
                            <div class="pricing-container" data-cost="{{ package.cost }}" data-package-id="{{ package.id }}">
                                <h3 class="pricing-title {{ product.name }}">{{ product.name }}&nbsp;<span class="pricing-pack {{ product.name }}">{{ package.name }}</span></h3>
                                <h4 class="pricing-value">{{ package.cost|intcomma }} <span class="text-muted" style="font-size: .8em;">XAF</span></h4>
                                <h5 class="pricing-content mobile-adjust">{{ package.description|safe }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </section>

            <section id="sectionEquipment" class="pricing-section">
                <input type="hidden" name="installCost" value="{{ product.install_cost }}">
                <input type="hidden" name="equipmentPurchaseCost" value="{{ equipment_purchase_cost }}">
                <h3 class="col-md-8 section-title">{% trans "Equipements" %}<label class="cost {{ product.name }} equipment-cost">{{ default_equipment_cost|intcomma }} XAF</label></h3>
                <div class="clearfix"></div>
                <hr class="section-border-top">
                <div class="col-md-8">
                    <h4><label class="checkbox-inline disabled"><input type="checkbox" checked="checked" disabled><span class="text-muted">{% trans "Installation" %}</span></label></h4>
                </div>
                {% for equipment in product.equipment_set.all %}
                <div class="col-md-12 v-align equipment" style="padding: 5vh 0">
                    <div class="col-md-2 v-align-center" style="">
                        <h4 class="equipment-name">{{ equipment.name }}</h4>
                    </div>
                    <div class="col-md-4 equipment-billing" style="border-left: #e5e8ed 2px solid">
                       <div class="radio">
                           <h4><label><input type="radio" name="option{{ equipment.slug }}" class="option option-achat {{ equipment.slug }}" checked data-cost="{{ equipment.purchase_cost }}" data-equipment-id="{{ equipment.id }}">{% trans "Achat" %}</label></h4>
                       </div>
                        <div class="radio">
                            <h4><label><input type="radio" name="option{{ equipment.slug }}" class="option option-location {{ equipment.slug }}" data-cost="{{ equipment.rent_cost }}" data-equipment-id="{{ equipment.id }}">{% trans "Location" %}</label></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </section>

            <section id="invoice" class="section-invoice visible-xs">
                <div class="col-md-2 pricing-resume {{ product.name }}">
                    <div class=" panel panel-pricing-resume text-center" style="overflow: hidden">
                        <div class="panel-title pricing-resume-title {{ product.name }}">
                            <h4 class="">{% trans "General Invoice" %}</h4>
                        </div>
                        <form class="mobile-adjust" style="font-size: 1.2vw" action="{% url 'kakocase:go' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="customer_id" value="{{ user.id }}">
                            <input type="hidden" name="bouquet_id" value="{{ bouquet.id }}">
                            <input type="hidden" name="equipment_id" value="{{ equipment.id }}">
                            <input type="hidden" name="installation_cost" value="{{ default_equipment_cost }}-{{ equipment_purchase_cost }}">
                            <input type="hidden" name="addon_id" value="{{ bouquet.id }}">
                            <input type="hidden" name="totalCost_id" value="{{ totalCost.id }}">
                            <div class="invoice-item invoice-item-tv">
                                <h5>
                                    <div class=" invoice-items-title"> {% trans "Pack" %} </div>
                                    <div class=" invoice-items-name" style="display: none"> NumeriLink <span class="pricing-pack {{ product.name }}" style="display: none"></span> </div>
                                    <div class="invoice-items-cost">  </div>
                                </h5>
                            </div>
                            <div class="separator"></div>
                            <div class="invoice-item invoice-item-equipments">
                                <h5>
                                    <div class=" invoice-items-title"> {% trans "Equipements" %} </div>
                                    <div class="invoice-items-cost">  </div>
                                </h5>
                            </div>
                            <div class="separator"></div>
                            <div class="invoice-item invoice-item-addons">
                                <h5>
                                    <div class=" invoice-items-title"> {% trans "Add-ons" %} </div>
                                    <div class="invoice-items-cost"></div>
                                </h5>
                            </div>
                            <div class="separator"></div>
                            <div class="invoice-item invoice-item-total" style="display: none;">
                                <h5>
                                    <div class=" invoice-items-title"> {% trans "Total" %} </div>
                                    <div class="invoice-items-cost {{ product.name }}"></div>
                                </h5>
                            </div>
                            <div class="form-group"> <!-- Submit Button -->
                                <button type="submit" class="btn btn-outline {{ product.name }} btn-general-invoice mobile-adjust">{% trans "Check Out" %}</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </section>


            <section id="sectionFaq" class="section-faq">
                <div class="col-md-12">
                    <h3 class="col-md-8 section-title">FAQs</h3>
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="col-md-6 panel panel-custom" style="cursor: pointer;">
                            <div class="panel-title faq-title text-center" role="tab" id="headingOne"  data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                                <h5 class="mb-0">
                                <a class="faq-question" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
                                  {% trans "Question 1 ?" %}
                                </a>
                              </h5>
                            </div>

                            <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="faq-answer" style="cursor: default">
                                    {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam." %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 panel panel-custom" style="cursor: pointer;">
                            <div class="panel-title faq-title text-center" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                                <h5 class="mb-0">
                                <a class="collapsed faq-question" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  {% trans "Question 2 ?" %}
                                </a>
                              </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="faq-answer" style="cursor: default">
                                    {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam." %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 panel panel-custom" style="cursor: pointer;">
                            <div class="panel-title faq-title text-center" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                                <h5 class="mb-0">
                                <a class="collapsed faq-question" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  {% trans "Question 3 ?" %}
                                </a>
                              </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="faq-answer" style="cursor: default">
                                    {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam." %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 panel panel-custom" style="cursor: pointer;">
                            <div class="panel-title faq-title text-center" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                                <h5 class="mb-0">
                                <a class="collapsed faq-question" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  {% trans "Question 4 ?" %}
                                </a>
                              </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="faq-answer" style="cursor: default">
                                    {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam." %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="errors">
                {{ form.errors }}
                {% if form.error %}
                    {% for error in form.error %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </section>

        </div>

        <div class="col-md-2 pricing-resume hidden-xs">
            <div class=" panel panel-pricing-resume {{ product.name }} text-center" style="overflow: hidden">
                <div class="panel-title pricing-resume-title {{ product.name }}">
                    <h4 class="">{% trans "General Invoice" %}</h4>
                </div>
                <form class="mobile-adjust" style="font-size: 1.2vw" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="customer_id" value="{{ user.id }}">
                    <input type="hidden" name="customer_lat">
                    <input type="hidden" name="customer_lng">
                    <input type="hidden" name="formatted_address">
                    <input type="hidden" name="pack_id">
                    <input type="hidden" name="equipment" value="{% for equipment in product.equipment_set.all %}{{ equipment.id }}|achat;{% endfor %}">
                    <input type="hidden" name="extra">

                    <div class="invoice-item invoice-item-tv">
                        <h5>
                            <div class=" invoice-items-title"> {% trans "Pack" %} </div>
                            <div class=" invoice-items-name" style="display: none">{{ product.name }}&nbsp;<span class="pricing-pack {{ product.name }}" style="display: none"></span></div>
                            <div class="invoice-items-cost">  </div>
                        </h5>
                    </div>
                    <div class="separator"></div>
                    <div class="invoice-item invoice-item-equipments">
                        <h5>
                            <div class=" invoice-items-title"> {% trans "Equipements" %} </div>
                            <div class="invoice-items-cost" style="display: none;" >{{ default_equipment_cost|intcomma }} XAF</div>
                        </h5>
                    </div>
                    <div class="separator"></div>
                    <div class="invoice-item invoice-item-total" style="display: none;">
                        <h5>
                            <div class=" invoice-items-title"> {% trans "Total" %} </div>
                            <div class="invoice-items-cost {{ product.name }}"></div>
                        </h5>
                    </div>
                    <div class="form-group"> <!-- Submit Button -->
                        <button type="submit" class="btn btn-outline {{ product.name }} btn-general-invoice mobile-adjust tpl">{% trans "Check Out" %}</button>
                    </div>
                    <div class="clearfix"></div>
                </form>

            </div>
        </div>
    </section>

    <a class="js-scrollTo back-to-top hiding" href="#section-header-general-view" style="text-decoration: none; color: #3F3F3F">
        <i class="fa fa-chevron-circle-up"></i>
    </a>

   {% include 'econnect/snippets/get_email_modal.html' %}

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'econnect/js/bootstrap-slider.min.js' %}"></script>
    <script>
        (function () {
            // redirect to signIn page
            $('#site-menu a.cta').attr('href', "{% url 'ikwen:sign_in' %}?next={% url 'econnect:homelink' %}");

            // set focus when modal is opened
            $('#modal-get-email').on('shown.bs.modal', function () {
                $("#visitor-email").focus();
            });

            $('#visitor-email').focusin(function () {
                $('div#email-error').fadeOut().hide()
            });

            // get the email for Tsunami relaunch mails
            $('.btn-process').click(function () {
                let visitor_email = $('#visitor-email').val();
                if (visitor_email !== ''){
                    $('#get-user-email').submit()
                }else {
                    $('div#email-error').fadeIn().show()
                }
            });

            //Dynamic color for menu items and faq: BEGIN
            $('.nav-menu').addClass('{{ product.name }}');
            $('.glyphicon').addClass('{{ product.name }}');
            $('a.cta').addClass('{{ product.name }}');
            $('.faq-answer').addClass('{{ product.name }}');
            $('.faq-question').addClass('{{ product.name }}');
            $('.fa-chevron-circle-up').css('color', '#cddc39');
            //Dynamic color for menu items and faq: END



            //Dynamic styling for vertical navbar :BEGIN

            //Get the position of an element relative to the document
            function offset(el) {
                let rect = el[0].getBoundingClientRect(),
                scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
                scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                return { top: parseInt(rect.top + scrollTop), left: parseInt(rect.left + scrollLeft) }
            }

            let sectionPackPosition = offset($('#sectionPack'));
            let sectionEquipmentPosition = offset($('#sectionEquipment'));
            let sectionFaqPosition = offset($('#sectionFaq'));

            let divInvoice = offset($('#invoice'));

            $(window).scroll(function() {
                if($(window).scrollTop() <= sectionPackPosition.top){
                    $('.in-page-nav-link-tv').addClass('is-active');
                    $('.in-page-nav-link-equipment').removeClass('is-active');
                    $('.in-page-nav-link-faq').removeClass('is-active');
                    $('.in-page-nav-link-invoice').removeClass('is-active');

                }
                if(($(window).scrollTop() >= sectionEquipmentPosition.top) && ($(window).scrollTop() < sectionFaqPosition.top)){
                    $('.in-page-nav-link-tv').removeClass('is-active');
                    $('.in-page-nav-link-equipment').addClass('is-active');
                    $('.in-page-nav-link-faq').removeClass('is-active');
                    $('.in-page-nav-link-invoice').removeClass('is-active');

                }
                if (divInvoice.top <= 444){
                    if($(window).scrollTop() >= sectionFaqPosition.top) {
                        $('.in-page-nav-link-tv').removeClass('is-active');
                        $('.in-page-nav-link-equipment').removeClass('is-active');
                        $('.in-page-nav-link-faq').addClass('is-active');
                    }

                }
                else {
                    if($(window).scrollTop() >= sectionFaqPosition.top && $(window).scrollTop() < divInvoice.top){
                        $('.in-page-nav-link-tv').removeClass('is-active');
                        $('.in-page-nav-link-equipment').removeClass('is-active');
                        $('.in-page-nav-link-faq').addClass('is-active');
                        $('.in-page-nav-link-invoice').removeClass('is-active');
                    }
                    if($(window).scrollTop() >= divInvoice.top){
                        $('.in-page-nav-link-tv').removeClass('is-active');
                        $('.in-page-nav-link-equipment').removeClass('is-active');
                        $('.in-page-nav-link-faq').removeClass('is-active');
                        $('.in-page-nav-link-invoice').addClass('is-active');
                    }

                }
            });
            //Dynamic styling for vertical navbar :END

            let invoiceCost = 0;
            let bouquetCost = 0;

            let equipmentCost = parseInt($('input[name=equipmentPurchaseCost]').val());
            let equipmentRentCost = 0;
            let equipmentBuyCost = 0;
            let rentChoice = false;

            let addonCost = 0;
            let addonItemCost = 0;
            let installCost = parseInt($('input[name=installCost]').val());

            $('.invoice-item-equipments').find('.invoice-items-cost').text($('.equipment-cost').text());

            function calculateInvoiceCost(){
                invoiceCost = bouquetCost + installCost + equipmentCost + addonCost;
                $('.invoice-item-total').css('display', 'block').find('.invoice-items-cost').text(invoiceCost.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}') + " XAF");
                $('.total-separator').css('display', 'block');
                if (invoiceCost > 0) $('.btn-general-invoice').removeClass('tpl');
                else $('.btn-general-invoice').addClass('tpl');

            }

            function calculateEquipmentCost(){
                installCost = parseInt($('input[name=installCost]').val());
                equipmentRentCost = 0;
                equipmentBuyCost = 0;
                let equipmentList = "";

                rentChoice = false;
                $(".option:checked").each(function() {
                    let equipmentId = $(this).data('equipment-id');
                    if ($(this).hasClass('option-location')){
                        equipmentRentCost += parseInt($(this).data('cost'));
                        rentChoice = true;
                        var item = equipmentId + '|' + 'rental;'
                    }
                    else if ($(this).hasClass('option-achat')) {
                        equipmentBuyCost += parseInt($(this).data('cost'));
                        var item = equipmentId + '|' + 'purchase;'
                    }
                    equipmentCost = equipmentRentCost + equipmentBuyCost;
                    equipmentList += item;
                    $('input[name=equipment]').val(equipmentList)
                });
                if (rentChoice){
                    let installationCost = installCost;
                    installationCost += equipmentBuyCost;
                    $(".equipment-cost").text("  " + installationCost.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}')
                        + " XAF" + " + " + equipmentRentCost.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}') + " XAF/mois");
                    $('.invoice-item-equipments').find('.invoice-items-cost').text($('.equipment-cost').text())
                }
                else {
                    let installationCost = installCost;
                    installationCost += equipmentCost;
                    $(".equipment-cost").text("  " + installationCost.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}') + " XAF");
                    $('.invoice-item-equipments').find('.invoice-items-cost').text($('.equipment-cost').text())
                }
                $('.invoice-item-equipments').find('.invoice-items-cost').css('display', 'inline');
                calculateInvoiceCost();
            }

            function calculateAddonCost() {
                addonItemCost = 0;
                $(".addon").each(function() {
                    if (this.checked) {
                        addonItemCost += ($(this).data('addon-cost'));
                    }
                });
                let extraIdSelectedList = "";
                $(".addon:checked").each(function() {
                    let extraId = $(this).data('addon-id');
                    extraIdSelectedList += extraId + ';'
                });
                $('input[name=extra]').val(extraIdSelectedList);

                addonCost = addonTvCost + addonItemCost;
                $('.invoice-item-addons').find('.invoice-items-cost').text(addonCost.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}') + " XAF/mois");
                if (addonCost === 0){
                    $('.addons-cost').css('display', 'none');
                    {#$('.invoice-items-cost').css('display', 'none');#}
                }
                else {
                    $('.invoice-item-equipments').find('.invoice-items-cost').css('display', 'inline');
                    $('.addons-cost').css('display', 'inline').text(addonCost.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}') + " XAF/mois");
                    {#$('.invoice-items-cost').css('display', 'none');#}
                    {#$('.invoice-item-addons').find('.invoice-items-cost').text($('.addons-cost').text());#}
                }
                calculateInvoiceCost();
            }


            $('.pricing-container').click(function () {
                bouquetCost = parseInt($(this).data('cost'));
                let packageId = $(this).data('package-id');
                $('input[name=pack_id]').val(packageId);
                $('.invoice-item-equipments').find('.invoice-items-cost').css('display', 'inline');
                $('.bouquet-cost').text(bouquetCost.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}') + " XAF/mois");
                $('.invoice-item-tv').find('.invoice-items-name').css('display', 'inline');
                $('.invoice-item-tv').find('.pricing-pack').css('display', 'inline').text($(this).find('.pricing-pack').text());
                $('.invoice-item-tv').find('.invoice-items-cost').text($(this).find('.pricing-value').text());
                calculateInvoiceCost();
            });

            $(".option").click(calculateEquipmentCost);

            $(".addon").click(calculateAddonCost);


            let addonTvCost = 0;

            //Optional TV adding slider gesture

            $("#optionalTvNumber").slider({
                tooltip: 'always',
                handle: 'square',
                tooltip_position: 'bottom'
            });
            $("#OptionalTvEnabled").click(function() {
                if(this.checked) {
                    $("#optionalTvNumber").slider("enable");
                    $("#optionalTvNumber").slider("setValue", "2");
                    addonTvCost= (parseInt($("#optionalTvNumber").slider("getValue") * 2500)) - 2500;
                    $("#CurrentSliderPriceValLabel").text("  " + addonTvCost + " XAF/mois");
                    calculateAddonCost();
                }
                else {
                    $("#optionalTvNumber").slider("refresh");
                    addonTvCost= 0;
                    $("#CurrentSliderPriceValLabel").text("2.500 XAF / TV supplémentaires / mois");
                    $("#optionalTvNumber").slider("disable");
                    calculateAddonCost();
                }
            });
            $("#optionalTvNumber").on("change", function(slideEvt) {
                addonTvCost = (parseInt(slideEvt.value.newValue * 2500)) - 2500;
                $("#CurrentSliderPriceValLabel").text("  " + addonTvCost + " XAF/mois");
                calculateAddonCost();
            });

        })()
    </script>
{% endblock %}