{% extends "core/app_base_admin.html" %}
{% load i18n humanize static admin_list %}

{% block page_title %}
<title> {% trans "Dashboard" %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'econnect/css/admin_home.css' %}" rel="stylesheet">
    <link href="{% static 'econnect/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Home" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" style="">
        <div class="container-fluid stage">
            <div style="margin: auto">
                {% include 'core/snippets/spinner.html' %}
                <div style="margin-bottom: 3vh;">
                    <div class="text-center">
                        <h2 class="welcome-title">{% trans "Welcome " %} {{ user.last_name }}</h2>
                        <h5 class="col-xs-12 welcome-subtitle"> {% trans "Easily monitor your business" %}</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="container-fluid">
                    <section id="order">
                        <h2 class="section-title">{% trans "Orders" %}</h2>
                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        {% if pending_order.count > 0 %}
                                        <h1>{{ pending_order.count }}</h1>
                                        <p class="title">{% trans "New(s)" %}</p>
                                        <p class="value">{{ pending_order.cost|intcomma }} XAF</p>
                                        {% else %}
                                        <p class="" style="padding-top: 85px">{% trans "No pending order to display" %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-shopping-bag"></i>
                                    </div>
                                    <a href="{% url 'econnect:pending_order' %}" class="small-box-footer">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        {% if pending_for_payment_order.count > 0 %}
                                        <h1>{{ pending_for_payment_order.count|intcomma }}</h1>
                                        <p class="title">{% trans "Pending payment" %}</p>
                                        <p class="value">{{ pending_for_payment_order.cost|intcomma }} XAF</p>
                                        {% else %}
                                        <p class="" style="padding-top: 85px">{% trans "No pending payments to display" %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-pause"></i>
                                    </div>
                                    <a href="{% url 'econnect:pending_order' %}" class="small-box-footer">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        {% if paid_order.count > 0 %}
                                        <h1>{{ paid_order.count }}</h1>
                                        <p class="title">{% trans "Paid" %}</p>
                                        <p class="value">{{ paid_order.cost|intcomma }} XAF</p>
                                        {% else %}
                                        <p class="" style="padding-top: 85px">{% trans "No unserved payments to display..." %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-coins"></i>
                                    </div>
                                    <a href="{% url "econnect:paid_order" %}" class="small-box-footer">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="small-box bg-danger">
                                    <div class="inner">
                                        {% if reported_order.count > 0 %}
                                        <h1>{{ reported_order.count }}</h1>
                                        <p class="title">{% trans "Reported" %}</p>
                                        <p class="value">{{ pending_for_payment_order.cost|intcomma }} XAF</p>
                                        {% else %}
                                        <p class="" style="padding-top: 85px">{% trans "No reported order to display..." %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <a href="{% url "econnect:reported_order" %}" class="small-box-footer">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="community">
                        <h2>{% trans "Community" %}</h2>
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <div class="small-box border border-success">
                                    <div class="inner">
                                        {% if registered_member_count > 0 %}
                                        <h1>{{ registered_member_count|intcomma }}</h1>
                                        <p>{% trans "Registered Users" %}</p>
                                        {% else %}
                                        <p class="text-muted">{% trans "No member registered yet..." %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-user-plus"></i>
                                    </div>
                                    <a href="{% url "ikwen:community" %}" class="small-box-footer success">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="small-box border border-danger">
                                    <div class="inner">
                                        {% if unregistered_member_count > 0 %}
                                        <h1>{{ unregistered_member_count|intcomma }}</h1>
                                        <p>{% trans "Unique Visitors" %}</p>
                                        {% else %}
                                        <p class="text-muted">{% trans "Nothing to display at the moment..." %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-user-ninja"></i>
                                    </div>
                                    <a href="{% url "ikwen:community" %}" class="small-box-footer danger">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="billing">
                        <h2 class="section-title">{% trans "Invoices" %}</h2>
                        <div class="row">
                            <div class="col-lg-4 col-6">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        {% if sent_invoice.count > 0 %}
                                        <h1>{{ sent_invoice.count }}</h1>
                                        <p class="title">{% trans "Sent" %}</p>
                                        <p class="value">{{ sent_invoice.amount|intcomma }} XAF</p>
                                        {% else %}
                                        <p class="" style="padding-top: 85px">{% trans "No sent invoice to display" %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-file-invoice"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        {% if pending_for_payment_order_count > 0 %}
                                        <h1>{{ pending_for_payment_order_count|intcomma }}</h1>
                                        <p class="title">{% trans "Pending payment" %}</p>
                                        <p class="value">{{ pending_for_payment_order_amount|intcomma }} XAF</p>
                                        {% else %}
                                        <p class="" style="padding-top: 85px">{% trans "No pending payments to display" %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-hourglass-half"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        {% if paid_order_count > 0 %}
                                        <h1>{{ paid_order_count }}</h1>
                                        <p class="title">{% trans "Paid" %}</p>
                                        <p class="value">{{ paid_order_amount|intcomma }} XAF</p>
                                        {% else %}
                                        <p class="" style="padding-top: 85px">{% trans "No invoices paid..." %}</p>
                                        {% endif %}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-coins"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">{% trans "More info " %}<i class="fas fa-caret-square-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    {% include 'core/snippets/sort_and_actions.html' %}
    <script type="text/javascript">
        (function() {
        })();
    </script>
{% endblock %}