{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
    <title> {% trans "Customer payment" %} - ikwen</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'echo/css/swiper.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ikwen/ajaxuploader/css/fileuploader.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'embed-doc/css/embed-doc.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'echo/css/echo.css' %}"/>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Customer payment" %}</li>
{% endblock %}

{% block admin_content %}

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'echo/js/bootstrap-datepicker.js' %}" ></script>
    <script src="{% static 'echo/js/sms-character-counter.js' %}" ></script>
    <script src="{% static 'echo/js/swiper.min.js' %}" ></script>
    <script src="{% static 'embed-doc/js/embed-doc.js' %}" ></script>
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}" ></script>

{% endblock %}
