{% load i18n static %}

<div id="modal-get-email" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-get-email">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style=" background: url({% static 'tsunami/img/get_email-modal_background.png' %}); border: 0.2px solid #ccc; border-radius: 4px; text-align: center;">
            <div class="modal-header no-border " style="color: #464646">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #d32f2f">&times;</span></button>
                <h4 class="modal-title" style="text-align: center">{% trans "Please, enter your email before proceeding..." %}</h4>
            </div>
            <div id='email-error' class="failure" style="margin: auto; width: 80%">Enter a valid email please </div>
            <div class="modal-body">
                <form action="{% url 'econnect:home' %}" id="get-user-email">
                    <input id="action" name='action' type="hidden" required value="send_mail_to_visitor">
                    <input id="visitor-email" name='visitor_email' type="email" required placeholder="Email" aria-describedby="input-email" class="form-control-custom">
                </form>
            </div>
            <div class="modal-footer no-border" style="padding-top: 0 !important; text-align: center !important;">
                <span class="btn btn-outline-success btn-process mobile-adjust " style="min-width: 200px">{% trans "Continue" %}</span>
            </div>
        </div>
    </div>
</div>