{% load i18n static %}

<style>
    .section-banniere-top {
        background: url("{% get_media_prefix %}{{ product.cover }}") center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        {#box-shadow:inset 0 0 0 2000px rgba(108, 102, 113, 0.35);#}
        color: #000;
        height: 500px;
        position: relative;
    }
    div#email-error {display: none}
</style>

<section>
    <div id="section-header-general-view" class="container-fluid container-fluid-custom" style="font-family: Lato,Helvetica,Arial,sans-serif;">
        <div class="row section-banniere-top" style="margin-top: 10px">
            <div class="col-sm-7 catchy">
                <h1 class="catchy-title hidden-xs">
                  {{ product.catchy_title }}
                </h1>
                <h2 class="catchy-title visible-xs">
                  {{ product.catchy_title }}
                </h2>
                <h2 class="hidden-xs">
                  {{ product.catchy|safe }}
                </h2>
                <a href='{{ product_url }}' class="btn btn-success btn-cta animated pulse" style="margin-top: 20px; min-width: 200px"><strong class="" style="font-size:large;">{% trans "Order now" %}</strong></a>
            </div>
            <div class="slogan hidden-sm hidden-xs">
                <h1><em>{{ product.slogan }}</em></h1>
            </div>
        </div>
    </div>
</section>